.container {
  text-align: center;
  padding: 20px;
}

.container.light {
  background-color: #ffffff;
  color: #000000;
}


.container.dark {
  background-color: #000000;
  color: #ffffff;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}
