.container {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  transition: all 0.25s ease-in-out;
}

.light {
  background: #ffffff;
  color: #111;
}

.dark {
  background: #111;
  color: #ffffff;
}

button {
  padding: 8px 20px;
  cursor: pointer;
  font-size: 12px;
  border: 1px solid black;
  width: 100px;
  
}
