
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #56ccf2, #2f80ed);
  animation: fadeIn 1s ease-in-out;
}


.weather-container {
  background: rgba(255, 255, 255, 0.2);
  padding: 28px;
  width: 360px;
  border-radius: 18px;
  text-align: center;
  color: #070606;
  backdrop-filter: blur(12px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  animation: slideUp 0.7s ease;
}


.weather-container h2 {
  font-size: 30px;
  margin-bottom: 18px;
  letter-spacing: 1px;
}


.weather-container input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-bottom: 14px;
  font-size: 16px;
  text-align: center;
}

.weather-container button {
  width: 100%;
  padding: 13px;
  border: none;
  border-radius: 10px;
  background: #ffd369;
  color: #222;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s ease, background 0.3s;
}

.weather-container button:hover {
  transform: scale(1.05);
  background: #ffca51;
}


.weather-info {
  margin-top: 20px;
  background: rgba(145, 112, 112, 0.25);
  padding: 18px;
  border-radius: 12px;
  font-size: 18px;
  line-height: 1.5;
}


.error {
  margin-top: 10px;
  background: rgba(255, 80, 80, 0.3);
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
}


.loading {
  margin-top: 10px;
  font-size: 16px;
  animation: blink 1s infinite;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(25px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    opacity: 0.5;
  }
}
